body{
    background: url("Netflix_Background\ \ img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 500px;
    height: 550px;
    background: rgba(14, 2, 2, 0.7);
    margin: auto;
    margin-top: 10px;
    
}
h1{
    color: red;
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    text-shadow: 1px 1px 2px red;
}
h2{
    padding-left: 50px;
    padding-top: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 2px 1px rgb(229, 209, 209);
}
.p{
    padding-top: 15px;
    padding-left: 45px;

}
#pn{
    width: 395px;
     height: 40px ; 
    border-radius: 5px;
    border: 1px solid #ccc;
    background: none;
}
.pass{
    padding-top: 20px;
    padding-left: 50px;
}
#ps{
    width: 395px;
    height: 40px ;
    background: none ;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    width: 400px;
    height: 40px;
    padding-right: 45px;
    font-size: 1rem;
    background: #e50914;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

form button:hover {
    background: #c40812;
}
.r{
    color: white;
}
p{
    margin-top: 5px;
    color: whitesmoke;
    text-align: center;
    border: 0.5px thin;
}
.u{
    padding-top: 5px;
    padding-left: 50px;
}
#us{
    width: 400px;
    height: 40px ;
    background:none ;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
p1{
    color: white;
}
.new{
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}
div b:hover{
    color: blue;

}
small {
    display: block;
    margin-top: 15px;
    color: #b3b3b3;
    margin-left: 50px;
}
small a {
    color: #0071eb;
}
small a:hover {
    color: red;
}